# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
playground
unit_tests
glnexus_cli

# Documnentation folder
html/

# CMake stuff
CMakeCache.txt
CMakeFiles/
/Makefile
cmake_install.cmake
external/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/

# cscope
cscope*

#emacs
*~
.vscode/

# htslib stuff
mem:*
src/1.*.zip

# Packages used by the applet
lz4-r131.tar
compile_commands.json
GLnexus.DB/
GLnexus.code-workspace
