# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
playground
unit_tests

# Dependencies
catch/
src/rocksdb-3.10.2.zip
src/rocksdb/
src/rocksdb-stamp/
src/3c8ae031.zip
src/htslib/
src/htslib-stamp/
src/release-0.5.2.zip
src/yaml-cpp/
src/yaml-cpp-stamp/
src/1.*.zip

# Temporary build stuff
tmp/

# Documnentation folder
html/

# CMake stuff
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
external/

# cscope
cscope*
